<h2>ジャンル編集</h2>
<br>
<%= form_with model:@genre, url: admin_genre_path(@genre), local: true do |f| %>
<label>ジャンル名</label>
<%= f.text_field :name %>

<%=f.submit '変更を保存', class:"btn btn-success" %>

<% end %>