<h2>本当に退会しますか</h2>

<p>退会すると、会員登録情報や</p>
<p>これまでの購入履歴が閲覧できなくまります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>

<%= link_to "退会しない", customer_path(current_customer) %>

<%= link_to "退会する", withdraw_switch_customer_path(@customer),method: :patch %>
