<div class= "container">
    <div class="row">
        <div class="offset-3">
        <h2>本当に退会しますか?</h2>
        </div>
    </div>
        <div class="row my-5">
            <div class="offset-2">
                <p>退会すると、会員登録情報や</p>
                <p>これまでの購入履歴が閲覧できなくまります。</p>
                <p>退会する場合は、「退会する」をクリックしてください。</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-3 col-2">
                <%= link_to "退会しない", customer_path(current_customer), class:"btn btn-primary" %>
            </div>
                <%= link_to "退会する", withdraw_customers_path(current_customer),method: :patch, class:"btn btn-danger" %>
        </div>
</div>
