<h1>本当に退会しますか？</h1>


      <p>退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。</p>
      <p>退会する場合は、「退会する」をクリックしてください。</p>
  <div>
    <%= link_to "退会しない" ,customers_path(current_customer), class: "btn btn-outline-danger" %>
  </div>
  <div>
    <%= link_to "退会する" ,customers_path(@customer),method: :patch, class: "btn btn-danger" %>
  </div>