<h2>注文情報確認</h2>
<table>
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thead>
</table>

<p>支払方法</p>
<% if @order.payment_method == 0 %>
<p>クレジットカード</p>
<% else %>
<p>銀行振込</p>
<% end %>

<p>お届け先</p>
<%= @order.postal_code + " " + @order.address + " " + @order.name + " " %>

<%= link_to "注文を確定する", orders_path, method: :post, class:"btn btn-success" %>