<h1><center>About</center></h1>

    <h3><p align="center">ながのCAKEは全国発送可能なケーキ屋さんです。</h3>
    <h3><p align="center">お子様からお年寄りの方までお召し上がりいただけるよう、</h3>
    <h3><p align="center">様々なバリエーションをご用意しております。</h3>
    <h3><p align="center">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h3>
    <h3><p align="center">ぜひご注文ください。</h3>

    <h3><p align="center"><%= image_tag 'cake.jpg' %>
